/*
  Oh Hello!

  These are some base styles so that our tutorial looks good.

  Let's go through the important bits real quick
*/
:root {
    --titles: #11102F;
    --black: #272727;
  }
  
  /*UI Elements*/

.btn {
  
    padding: 16px 24px;
    font-size: 20px;
    font-weight: 700;
    color: #fff; 
    background: #3BC359;
    border: 0;
    border-radius: 4px;
    text-shadow: 0 1px 3px rgba(36, 78, 180, 0.2);
    box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
    transition: all 0.3s ease ;
  }
  
    .btn:hover {
      -webkit-transform: translateY(-1px);
      transform: translateY(-1px);
      box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
      
    }
  
  
  html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    /* A system font stack so things load nice and quick! */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--black);
  }
  
  /*
    WAT IS THIS?!
    We inherit box-sizing: border-box; from our <html> selector
    Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
  */
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  footer {
      padding: 26px 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      

  }

    .footer_link {
        color: #A4A7B8;
        margin: 0 0 08px 0;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
    }
  
  body {
  
    min-height: calc(100vh - 100px);
    margin: 0;
    letter-spacing: -1px;
    font-size: 16px;
   
  
  }

.wrapper {
    display: flex;
    flex-direction: column-reverse;
  
}

    .row-one {
        background: #2B70D9;
    }

        .title {
            font-size: 30px;  
            color: #fff;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
            color: #CED9EF;
        }

    .row {
        padding: 50px 20px;
    }

    .row-two {
        background-image: url('images/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        
    }



    .form_input-container {
        display: flex;
        flex-direction: column;
        margin: 24px 0 16px 0;
      }

        .optin_form {
            background: #fff;
            border-top: 8px solid #3BC359;
            border-radius: 4px;
            padding: 40px 20px;
            box-shadow: 0 12px 26px 0 rgba(6, 11, 37, 0.5);
        }

            .optin_title {
                font-size:   32px;
                font-weight: 700;
                text-align: center;
                color: var(--titles);
                margin: 0 0 -14px 0;
            }

            .optin_text {
                font-size: 18px;
                font-weight: 700;
                color: #A4A7B8;
                text-align: center;
            }

            .input_label {

                color: var(--titles);
                font-size: 16px;
                font-weight: 700;
                margin: 0 0 8px 0;
            }

            .input- {
                padding: 16px 24px;
                margin: 0 0 16px 0;
                border: 1px solid #D8DCEA;
                border-radius: 2px;
                font-size: 16px;
                color: #9899AB;
              }
    
              input[type="email"]::placeholder {
                color: #9899AB;
                font-size: 16px;
              }
    
              input[type="email"]:focus {
                color: rgb(108, 109, 136);
                font-size: 16px;
              }

/*MEDIA QUERIES*/ 


/*For Phone Only*/

@media (max-width: 559px) {
    .optin_form {
      
    }

}

/*For Table Portrait Up*/

@media (max-width: 899px) and (min-width: 600px) {

    .optin_form {
        width: 550px;
        margin: 0 auto;
    }

    .text-container{
        width: 550px;
        margin: 0 auto;
    }
 
}
  /*UI Elements*/

  

/*For Table Landscape Up*/

@media (min-width: 900px) {

    .main {
        flex-direction: row;
        background-image: url('images/bg-desktop-1200.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 88vh;
        display: flex;
        align-items: center;
    }

    .wrapper {
        flex-direction: row;
        margin: 0 auto;
        width: 860px;
        align-items: center;
        justify-content: center;
       
        
    }


    .container-one {
        width: 49%;
    }

        .row-one {
            background: none;
        }

        .title {
            font-size: 46px;
        }

    .container-two {
       
    }

        .row-two {
            background: none;
        }

        footer {
            flex-direction: row;
            justify-content: center;
            

        }
            .footer_link{
                margin: 0 16px 0 0;
            }


}

/*For Desktop Up*/

@media (min-width: 1200px) {


    .main {
        background-image: url('images/bg-desktop-1200.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 88vh;
        display: flex;
        align-items: center;
    }
    .wrapper {
       
        margin: 0 auto;
        width: 1200px;
        align-items: center;
        
    }

        .container-one {
            width: 50%;
            padding: 0 40px;
            
        }
            .row-one {
                background: none;
                
            }

            
            .title {
                font-size: 46px;
            }

        .container-two {
            width: 50%;
            margin: 0 0 0 -40px;
            padding: 0 40px;
        }

            .row-two {
                background: none;
            }

            footer {
                flex-direction: row;
                justify-content: center;
                

            }
                .footer_link{
                    margin: 0 16px 0 0;
                }
    


}

/*For Big Desktop Up*/

@media (min-width: 1800px) {

}